# Format

Code owners are in the following format:

Directory, github username

# Code Owners

/ @HEROgold

/absynnonym/ @absynnonym

/Lufia2_-_Frue_Lufia_v7/ Artemis
/Lufia2_-_Spekkio_Lufia_v7/ Artemis
/Lufia2_-_Kureji_Lufia_v7/ Artemis
